* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    color: rgba(18, 25, 32, 1);
    font-size: 14px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 20px;
}

.top-header {
    height: 80px;
    border: 1px solid rgba(235, 235, 241, 1);
}

.top-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .top-header__column {
    flex: 0 1 20%;
}

*/
.top-header__column:nth-child(2) {
    flex: 0 1 660px;
}

.header__column-logo {
    min-width: 135px;
    max-height: 80px;
    padding: 25px 0;
}

.top-header__search {
    padding: 20px 0;
}

input {
    height: 40px;
    min-width: 100%;
    padding: 9px 20px;
    border-radius: 5px;
    background: url(../assets/img/union.svg);
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: center;
    font-weight: 400;
}

.contacts-header {
    display: flex;
    justify-content: center;
    max-height: 47px;
}

.contacts-header__item-column {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.header__phone {
    line-height: 15px;
}

.contacts-header__phone {
    font-size: 18px;
    font-weight: 400;
    color: rgba(18, 25, 32, 1);
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.contacts-header__phone:hover {
    color: #34AADD;
}

.contacts-header__label {
    height: 22px;
    color: rgba(187, 196, 214, 1);
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.top-header__button {
    height: 40px;
    width: 100px;
}

.bottom-header {
    height: 60px;
    border-bottom: 1px solid rgba(235, 235, 241, 0.5);
    box-shadow: 0px 7px 6px -4px rgba(235, 235, 241, 1);
}

.bottom-header__column {
    display: flex;
    padding: 15px 0 16px;
}

.bottom-header__menu {
    width: 786px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__list li {
    flex: 0 1 auto;
}

.menu__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(118, 130, 152, 1);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.menu__link:hover {
    color: rgba(52, 170, 221, 1);
}

.product-page__content {
    margin-top: 90px;
}

.items-product {
    display: flex;
}

.news-page__content {
    margin-top: 90px;
}

.news-page {
    background: rgba(240, 240, 240, 1);
}

.partners-page__content {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.partners-page__items {
    min-height: 230px;
    margin-top: 50px;
}

.partners__list-items {
    display: flex;
    flex-wrap: wrap;
}

.partner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    min-height: 100px;
    order: 1;
    align-self: center;
    flex: 1 0 25%;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    margin-right: 30px;
}

.partner-item:nth-child(-n + 4) {
    margin-bottom: 30px;
}

.partner-item:nth-child(4) {
    margin-right: 0;
}

.title-page {
    text-transform: uppercase;
    color: rgba(18, 25, 32, 1);
    font-size: 36px;
    font-weight: 500;
    line-height: 58px;
}

.items-footer {
    display: flex;
    justify-content: space-between;
}

.active-link {
    color: rgba(249, 90, 89, 1);
}

.bg-white {
    background-color: #ffffff;
}

.color-white {
    color: #ffffff;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 170, 221, 1);
    border-color: inherit;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cursor {
    cursor: url(../assets/img/cursor.svg), pointer;
}

.rub::after {
    content: "₽";
}